{% extends "base.html" %}


{% block styles %}
{{ super() }}
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }
</style>
{% endblock styles %}

{% block page_content %}
<div class="page-header">
    <h1>Cube viewer</h1>

    {% for image_path in image_paths %}
    <div class="gallery">
        <a href={{ image_path }} target="_blank">
            <img src={{ image_path }}>
        </a>
    </div>
    {% endfor %}

</div>
{% endblock %}