{% extends "table.html" %}

{% block title %}{{ combo_params.disk_name }} {{ combo_params.molecule_name }} {{ combo_params.quantum_number}}
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col">
        <h1>{{ combo_params.disk_name }} {{ combo_params.molecule_name }} {{ combo_params.quantum_number}}</h1>
        <p>
            Band: {{combo_params.band_id}}, Setup:
            {{combo_params.setup_id}}, SPW: {{combo_params.spw_id}}, Frequency:
            {{ "%.6f" | format(combo_params.frequency)}} GHz
        </p>
        <p>This page summarizes all of the available measurement sets and analysis runs for a particular
            disk-transition combination.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>All runs for this particular disk/transition combination</h2>
        <p>You can click on the <code>run_id</code> in the table below to be taken to the summary page for that run.
        </p>
        <table id="table_runs" class="display">
            <thead>
                <tr>
                    <th>Run ID</th>
                    <th>Status</th>
                    <th>Updated</th>
                    <th>Method Type</th>
                    <th>Method Version</th>
                </tr>
            </thead>
            <tbody>
                {% for run in runs_list %}
                <tr>
                    <td><a href={{ url_for('main.run', run_id=run.run_id) }}>{{run.run_id}}</a></td>
                    <td>{{run.run_status}}</td>
                    <td>{{run.updated}}</td>
                    <td>{{run.method_type}}</td>
                    <td>{{run.method_version}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Available <code>cvel</code>'ed measurement sets on disk</h2>
        <table id="table_ms" class="display">
            <thead>
                <tr>
                    <th>MS ID</th>
                    <th>Version</th>
                    <th>Ingested</th>
                    <th>tarfile md5</th>
                </tr>
            </thead>
            <tbody>
                {% for ms in ms_list %}
                <tr>
                    <td>{{ms.measurement_set_id}}</td>
                    <td>{{ms.version}}</td>
                    <td>{{ms.ingested}}</td>
                    <td>{{ms.tar_md5sum}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock page_content %}


{% block scripts_table %}
<script>
    $(document).ready(function () {
        $('#table_runs').DataTable({
            "pageLength": 25,
            "order": [[2, 'desc']]
        });
    });

    $(document).ready(function () {
        $('#table_ms').DataTable({
            "pageLength": 25,
            // "order": [[4, 'desc']]
        });
    });


</script>
{% endblock scripts_table %}