{% extends "table.html" %}

{% block title %}Runs on the Cannon Cluster{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>MAPS Runs</h1>
    <p>This page catalogs all imaging attempts carried out on all measurement sets of the MAPS large program. The
        <code>run_id</code> is a unique
        primary key
        assigned to every new invocation of an imaging script to a particular disk / transition / measurement set
        combination. If you would like to refer precisely and uniquely to the products of a particular imaging attempt,
        quoting the <code>run_id</code> is the best way to do it. You can
        click on the <code>run_id</code> in the table below to be taken to the summary page for that run. Alternatively,
        if you already know the <code>run_id</code>, you can navigate to the summary page directly by substituting it in
        the
        address like so:
        <code>thiswebsite.com/runs/run_id/</code></p>
</div>

<div>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Run ID</th>
                <th>Disk Name</th>
                <th>Transition ID</th>
                <th>Mol Name</th>
                <th>QN</th>
                <th>Array ID</th>
                <th>Status</th>
                <td>Updated</td>
            </tr>
        </thead>
        <tbody>
            {% for run in runs_list %}
            <tr>
                <td><a class="btn btn-primary btn-sm"
                        href={{ url_for('main.run', run_id=run.run_id) }}>{{run.run_id}}</a></td>
                <td>{{run.disk_name}}</td>
                <td>{{run.transition_id}}</td>
                <td>{{run.molecule_name}}</td>
                <td>{{run.quantum_number}}</td>
                <td>{{run.job_array_id}}</td>
                <td>{{run.run_status}}</td>
                <td>{{run.updated}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock page_content %}